@import 'App.scss';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  height: 120px;
  width: 100%;
  padding: 0 3px;

  #title_content {
    position: relative;
    /* padding: 2px; */
    
    img {
      width: 200px;
    }

    span {
      /* transform: translateX(-112px) translateY(50px); */ // Para telas maiores que 738px
      position: absolute;
      bottom: 0;
      right: 0;
      font-weight: bold;
      font-size: 1.2em;
      color: red;
      font-family: "MedievalSharp", "Playfair Display", serif;   
    }
  }

  input[type="text"] {
    padding: 8px;
    border-radius: 12px;
    
    background-color: $corQuartenaria;
    border: none;
    color: black;
    
    font-family: "MedievalSharp", serif;
    font-size: .7em;

    box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.4);
  }
}

/* == Responsividade == */
@media (max-width: 440px) {
  header {
    flex-direction: column;
    padding: 12px 0;
    margin: 12px 0;
    gap: 8px;

    input[type="text"] {
      width: 62%;
      font-size: .9em;
    }
  }
}

@media (min-width: 1024px) {
  header {
    padding: 0 16px;
  
    input[type="text"] {
      font-size: .9em;
    }
  }
}

@media (min-width: 1440px) {
  header {
    input[type="text"] {
      font-size: 1.1em;
    }
  }
}